.tools{
    width: 100%;
    height: 100%;
    background: #f6f6f6;
}
.tools-header{
    height: 40px;
    background: #fff;
    text-align: right;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
}
.tools-header span{
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
    margin-right: 5px;
}
.tools-header span p{
    margin: 0;
}